*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

button {
    border: 0;
}

a {
    text-decoration: none;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}
